
    <section class="section_six w-full h-auto flex flex-col overflow-hidden">
            <span mat-dialog-close class="closeBtn inline-block self-end">+</span>

        <div class="blog_home w-full h-auto sm:mt-3">
            <div class="blog_contents h-full gap-4 w-full px-3 sm:px-0 flex flex-col sm:flex-row justify-around items-center">
                <div class="blog_contents__picture hidden sm:block sm:w-2/12 sm:h-[7rem] ">
                    <div class="w-full h-full rounded-md border-2 shadow-sm border-[rgba(247, 245, 245, 0.1)] overflow-hidden">
                        <img class="max-w-full object-cover h-full" src="https://picsum.photos/250/130" alt="">
                    </div>
                </div>
                <div class="blog_contents_message w-full sm:w-10/12 h-52 sm:h-[7.7rem] bg-[rgba(247, 245, 245, 0.1)] rounded-sm px-5 py-2">
                    <p class="capitalize break-words font-semibold text-md sm:text-xl">Another Profitable Canadian cannabis maker: greenway Greenhouse posts first results since market debut</p>
                    <span class="text-sm text-blue-500 block">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, architecto perspiciatis doloribus qui molestiae distinctio?
                    </span>
                    <span class="text-lg text-neutral-600">
                        20 mins
                    </span>

                   
                </div>
                <hr class="block sm:hidden my-2 mx-4 bg-slate-700 w-full">
            </div>

            <div class="blog_contents h-full gap-4 w-full mt-3 px-3 sm:px-0 flex flex-col sm:flex-row justify-around items-center">
                <div class="blog_contents__picture hidden sm:block sm:w-2/12 sm:h-[7rem] ">
                    <div class="w-full h-full rounded-md border-2 shadow-sm border-[rgba(247, 245, 245, 0.1)] overflow-hidden">
                        <img class="max-w-full object-cover h-full" src="https://picsum.photos/seed/picsum/250/130" alt="">
                    </div>
                </div>
                <div class="blog_contents_message w-full sm:w-10/12 h-52 sm:h-[7.7rem] bg-[rgba(247, 245, 245, 0.1)] rounded-sm px-5 py-2">
                    <p class="capitalize break-words font-semibold text-md sm:text-xl">Krystal Biotech shares more than double during premarket monday:what investors need to know</p>
                    <span class="text-sm text-blue-500 block">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis?
                    </span>
                    <span class="text-lg text-neutral-600">
                     10 mins
                    </span>

                   
                </div>
                <hr class="block sm:hidden my-2 mx-4 bg-slate-700 w-full">
            </div>

            <div class="blog_contents h-full gap-4 mt-3 w-full px-3 sm:px-0 flex flex-col sm:flex-row justify-around items-center">
                <div class="blog_contents__picture hidden sm:block sm:w-2/12 sm:h-[7rem] ">
                    <div class="w-full h-full rounded-md border-2 shadow-sm border-[rgba(247, 245, 245, 0.1)] overflow-hidden">
                        <img class="max-w-full object-cover h-full" src="https://picsum.photos/seed/picsum/250/130" alt="">
                    </div>
                </div>
                <div class="blog_contents_message w-full sm:w-10/12 h-52 sm:h-[7.7rem] bg-[rgba(247, 245, 245, 0.1)] rounded-sm px-5 py-2">
                    <p class="capitalize break-words font-semibold text-md sm:text-xl">Why Nrx Pharma's Shares soaring market</p>
                    <span class="text-sm text-blue-500 block">
                        Lorem ipsum. Debitis, architecto perspiciatis doloribus qui molestiae distinctio?
                    </span>
                    <span class="text-lg text-neutral-600">
                        15 mins
                    </span>

                   
                </div>
                <hr class="block sm:hidden my-2 mx-4 bg-slate-700 w-full">
            </div>

            <div class="blog_contents h-full gap-4 mt-3 w-full px-3 sm:px-0 flex flex-col sm:flex-row justify-around items-center">
                <div class="blog_contents__picture hidden sm:block sm:w-2/12 sm:h-[7rem] ">
                    <div class="w-full h-full rounded-md border-2 shadow-sm border-[rgba(247, 245, 245, 0.1)] overflow-hidden">
                        <img class="max-w-full object-cover h-full" src="https://picsum.photos/250/130" alt="">
                    </div>
                </div>
                <div class="blog_contents_message w-full sm:w-10/12 h-52 sm:h-[7.7rem] bg-[rgba(247, 245, 245, 0.1)] rounded-sm px-5 py-2">
                    <p class="capitalize break-words font-semibold text-md sm:text-xl">3 stocks insiders are selling</p>
                    <span class="text-sm text-blue-500 block">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, architecto perspiciatis doloribus qui molestiae distinctio?
                    </span>
                    <span class="text-lg text-neutral-600">
                        20 mins
                    </span>

                   
                </div>
                <hr class="block sm:hidden my-2 mx-4 bg-slate-700 w-full">
            </div>


            <div class="blog_contents h-full gap-4 mt-3 w-full px-3 sm:px-0 flex flex-col sm:flex-row justify-around items-center">
                <div class="blog_contents__picture hidden sm:block sm:w-2/12 sm:h-[7rem] ">
                    <div class="w-full h-full rounded-md border-2 shadow-sm border-[rgba(247, 245, 245, 0.1)] overflow-hidden">
                        <img class="max-w-full object-cover h-full" src="https://picsum.photos/seed/picsum/250/130" alt="">
                    </div>
                </div>
                <div class="blog_contents_message w-full sm:w-10/12 h-52 sm:h-[7.7rem] bg-[rgba(247, 245, 245, 0.1)] rounded-sm px-5 py-2">
                    <p class="capitalize break-words font-semibold text-md sm:text-xl">MMA fighter elias theodorou talks upcoming fight, engaging the fanbase with NFTs</p>
                    <span class="text-sm text-blue-500 block">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, architecto perspiciatis doloribus qui molestiae distinctio?
                    </span>
                    <span class="text-lg text-neutral-600">
                        20 mins
                    </span>

                   
                </div>
                <hr class="block sm:hidden my-2 mx-4 bg-slate-700 w-full">
            </div>
        </div>
    </section>
