

#a_stock{
    // background-color: red !important;
    // grid-column: auto;
}

.red{
  color: rgba(243, 113, 113, 1) !important;

}

.green{
    color: rgba(74, 222, 128, 1) !important;

}

.body{
   grid-auto-rows: auto;
}

@media (min-width: 640px){
     .body  {
         grid-auto-rows: none !important;
     } 
}





